:root {
    /* fonts */
    --font-inter: Inter;
    --font-iceland: Iceland;
  
    /* font sizes */
    --font-size-base: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 24px;
  
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
  
    /* border radiuses */
    --br-md: 10px;
  }
  