@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.rectangle-footer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(61, 61, 61, 0.7);
  width: 1493px;
  height: 83px;
}
.natalia-jimnez-nicols-sure,
.universidad-de-la-sabana-2022 {
  margin: 0;
  position: absolute;
  top: 34px;
  left: 1233.8px;
  display: flex;
  align-items: center;
  width: 245.72px;
  height: 16px;
}
.natalia-jimnez-nicols-sure {
  top: 27px;
  left: 26.96px;
  width: 505.96px;
  height: 30px;
}
.footer-div,
.rectangle-div {
  position: absolute;
  top: 905px;
  left: 0;
  width: 1493px;
  height: 83px;
}
.rectangle-div {
  top: 188px;
  border-radius: 30px;
  background: linear-gradient(rgba(142, 82, 189, 0.3), rgba(142, 82, 189, 0.3)),
    #ebb1b1;
  width: 436px;
  height: 483px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 476px;
  left: 127px;
  border-radius: var(--br-md);
  background: linear-gradient(
      rgba(235, 177, 177, 0.3),
      rgba(235, 177, 177, 0.3)
    ),
    #f5f0ff;
  width: 182px;
  height: 39px;
}
.rectangle-button:hover {
  animation: 3s step-start 1s infinite normal none pulsate;
  opacity: 1;
}
.enter-label {
  position: absolute;
  top: 483px;
  left: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 26px;
}
.rectangle-input {
  font-size: 25px;
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 392px;
  left: 44px;
  border-radius: var(--br-md);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25) inset;
  width: 348px;
  height: 62px;
  cursor: text;
}
.contrasea-label {
  position: absolute;
  top: 364px;
  left: 52px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 111px;
  height: 21px;
}
.rectangle-input1 {
  font-size: 25px;
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 272px;
  left: 44px;
  border-radius: var(--br-md);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25) inset;
  width: 348px;
  height: 62px;
}
.ansible-h2,
.nombre-label {
  position: absolute;
  display: flex;
  align-items: center;
}
.nombre-label {
  top: 244px;
  left: 52px;
  text-align: left;
  width: 111px;
  height: 21px;
}
.ansible-h2 {
  margin: 0;
  top: 18px;
  left: 197px;
  font-size: 128px;
  font-weight: 400;
  font-family: var(--font-iceland);
  justify-content: center;
  width: 521px;
  height: 98px;
}
.image-2-icon,
.image-3-icon {
  position: absolute;
  top: 0;
  left: 87px;
  width: 131px;
  height: 134px;
  object-fit: cover;
}
.image-3-icon {
  top: 274px;
  left: 510px;
  width: 391px;
  height: 403px;
}
.boddy-div {
  position: absolute;
  top: 115px;
  left: 296px;
  width: 901px;
  height: 677px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.rectangle-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.29);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  width: 1493px;
  height: 72px;
}
.contacto-button,
.pruebas-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10.29px;
  left: 1300px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 51.43px;
}
.contacto-button:hover,
.inicio-button:hover,
.pruebas-button:hover {
  animation: 1s step-start 0s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
.pruebas-button {
  left: 1130px;
}
.image-1-icon {
  position: absolute;
  top: 9px;
  left: 29px;
  width: 43px;
  height: 55px;
  object-fit: cover;
}
.inicio-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10.29px;
  left: 979px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 51.43px;
}
.headder-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1493px;
  height: 72px;
}
.desktop-1 {
  position: relative;
  background-color: #f5f0ff;
  width: 100%;
  height: 988px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
